<style>
    .contact-info {
        margin: 20px;
        text-align: center;
        padding-top: 5px;
    }

    .contact-li {
        text-decoration: none;
        list-style: none;
        display: inline-block;
        padding: 0px 40px;
    }

    .contact-a {
        color: #252525;
    }
</style>

<div class="contact-info">
    <hr style="margin: 0px 12.5% 20px; width: 75%;">
    <h2 class="subtitle">My Contact Info</h2>
    <div>
        <ul id="contact-info" class="contact-info">
            <li class="contact-li"><a class="contact-a" href="mailto:famegg.contact@gmail.com" target="_blank" rel="noreferrer noopener">Email - contact@antonio-nardi.com</a></li>
            <li class="contact-li"><a class="contact-a" href="https://github.com/iFameGG" target="_blank" rel="noreferrer noopener">GitHub - @iFameGG</a></li>
            <li class="contact-li"><a class="contact-a" href="https://www.linkedin.com/in/antonio-nardi/" target="_blank" rel="noreferrer noopener">LinkedIn - Antonio Nardi</a></li>
        </ul>
    </div>
</div>