<style>
    .default-page {
        margin-top: 30px;
    }

    .project-preview {
        border: 5px solid #252525;
        border-radius: 25px;
        width: 500px;
        height: 350px;
        padding: 15px;
        text-align: justify;
        background-color: #252525;
        color: #bc7dff;
        position: relative;
        margin: 5;
    }
    @media (max-width: 768px) {
        .project-preview {
            border: 5px solid #252525;
            border-radius: 25px;
            width: 500px;
            height: 450px;
            padding: 15px;
            text-align: justify;
            background-color: #252525;
            color: #bc7dff;
            position: relative;
            margin: 5;
        }
    }

    .project-info {
        padding: 10px;
    }

    .project-title {
        display: inline;
        text-align: center;
    }

    strong{
        font-weight: bolder;
        font-style: italic;
    }
    
    .project-links {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 10;
    }

    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .preview-footer {
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 10px;
        margin-top: 5px;
        text-align: center;
    }

    .education {
        display:flex; 
        justify-content:center; 
        align-items:center; 
        flex-direction:column;
    }
</style>

{% extends 'base.html' %}

{% block content %}

<div class="default-page">
    <h1 class="page-h1">I'm Antonio Nardi</h1>

    <div class="main-section">
        <h2 id="projects" class="subtitle">My Projects</h2>
        <div class="project-list">
            {% for project in projects %}
            <div class="project-preview">
                <div class="project-title">
                    <h2 >{{ project.name }}</h2>
                    <p style="font-style: italic;">{{ project.category }}</p>
                </div>
                <p class="project-info">{{ project.description }}</p>
                <div class="preview-footer">
                    <hr style="color: #bc7dff">
                    <p class="project-info">
                        <strong>Tools:</strong><br>{{ project.tools }}
                    </p>
                    <hr style="color: #bc7dff">
                    <div class="project-links">
                        <a href="{{ project.github }}" target="_blank" rel="noreferrer noopener">
                            🔗 GitHub
                        </a>
                        {% if project.example == project.github %}
                        {% else %}
<!--                         <a href="{% url 'project' project.name %}">
                            🔗 Try Now!
                        </a> -->
                        <a href="{{ project.example }}" target="_blank" rel="noreferrer noopener">
                            🔗 Try Now!
                        </a>
                        {% endif %} 
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>

        <div class="education">
            <hr style="margin-top: 20px; margin-bottom: 20px; width: 75%;">
            <h2 id="about-me"  class="subtitle">About Me</h2>
            <p style=" text-align: justify; text-justify: inter-word; padding: 15px 15px 0px 15px; width: 75%">
                Hi there! I'm a 21-year-old data science aficionado from the Greater Montreal Area. I completed my 
                diploma in Data Science from Concordia University and I'm currently pursuing my Google Data Analytics 
                Certificate.
                <br><br>
                When I'm not crunching numbers, I enjoy watching various motorsports and hockey, and also playing hockey with friends. 
                Ever since I was a kid, I've loved learning about how things work, and that curiosity continues to drive me today.
                <br><br>
                I pride myself on being resourceful and tenacious when it comes to solving problems and working 
                on projects. I may not have years of experience under my belt, but I'm enthusiastic about learning 
                and growing in this field, eager to take on new challenges, and contribute to a team that shares 
                my passion for data science and analytics.
            </p>
        </div>
    </div>
</div>



{% endblock %}
