{% extends 'base.html' %} 

{% block content %}

<script type="module" src="https://md-block.verou.me/md-block.js"></script>

<style>
  #resume {
    text-align: center;
  }

  #container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 75%;
    padding: 20px;
    margin: auto;
  }
</style>

<div id="container">
  <md-block id="resume">
    # Antonio Nardi<hr>
    
    # <br><u>**SKILLS**</u>
    Python, SQL, Regression Models, Predictive Modeling, Machine learning, Data Visualization, Web Scraping, R (in progress), Microsoft Office, Google Docs Editors, Linux

    # <br><u>**LANGUAGES**</u>
    English, French and Greek

    # <br><u>**EDUCATION**</u>
    ## **Concordia University** *— Diploma in Data Science*
    *JANUARY 2023 - APRIL 2023, MONTREAL*<br>
    Intensive Data Science Diploma that focuses on modern concepts and technologies. These technologies include: Python, Pandas, NumPy, Matplotlib, Sklearn, StatsModels, Tensorflow, Keras, SQL.

    ## **Google Career Certificate** *— Data Analytics Certificate \*In Progress\**
    *JULY 2022 - PRESENT, REMOTE*<br>
    Online certification course that teaches the following topics: data types and structures, problem-solving, data visualization, R programming and the process of data analysis

    ## **Cégep de Saint-Laurent** *— Mechanical Engineering Technology \*Incomplete\**
    *AUGUST 2018 - DECEMBER 2020, MONTREAL*<br>
    Focused on principles of mechanics, materials science, manufacturing processes, and design. In addition, I learnt version control in a team environment and excel.

    # <br><u>**EXPERIENCE**</u>
    ## **Freelance** *— Data Analyst*
    *APRIL 2020 - JULY 2022, REMOTE*
    <br> - Web scraping to enhance and lighten the load of the data entry employees 
    <br> - Created basic dashboards to visualize and present relevant facts and trends within the data, using google sheets

    ## **AGES Consulting** *— IT Staff*
    *MAY 2021 - JULY 2021, MONTREAL*
    <br> - Set up the hardware and software, used in operations of the vaccination clinic
    <br> - Communicated with my superiors to acquire necessary equipment
    <br> - Worked with healthcare professionals to optimize the layout of the clinic

    # <br><u>**SELECTED PROJECTS**</u>
    ## **Image Segmentation** *— Machine Learning*
    Used Tensorflow and Keras to separate certain objects (like cars, people, trees, sidewalks), in images, from the background. Deployed using Docker and AWS ECS.
    ## **COVID Discontinuity Design**  *— Regression Models*
    Performed regression discontinuity design to analyze the effect of different policies throughout the pandemic in Quebec.
  </md-block>
</div>
{% endblock %}
